/* ------------------------------------------------------------- A note block */
blockquote.note
{
	width: 75%;
	font-family: sans-serif;
	font-size: 0.85rem;
	padding: .13in .13in .13in 1.13in;
}

/* ----------------------------------------------------- The note block label */
blockquote.note>div.note-label
{
	text-indent: -.63in;
	display: inline-block;  /* Correlates with blockquote.note padding. */
	font-weight: bold;
}

/* ---------------------------------------------------------------- INFO note */
blockquote.note.info, blockquote.note.information, blockquote.note.message
{
	background-color: rgb(203, 217, 243);
}

/* ------------------------------------------------------------- WARNING note */
blockquote.note.warn, blockquote.note.warning, blockquote.note.caution
{
	background-color: bisque;
}

/* --------------------------------------------------------------- ERROR note */
blockquote.note.danger, blockquote.note.error
{
	background-color: rgb(250, 209, 209);
}